<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/hemant/Downloads/payouts/src/test/java/com/qa/turtlemint/testcases">
        <method-selectors>
            <method-selector>
                <script language="beanshell">
                    <![CDATA[
                    String myTestGroup = System.getProperty("groupName");
                    groups.containsKey(myTestGroup);
                ]]>
                </script>
            </method-selector>
        </method-selectors>

        <!--        <groups>-->
        <!--            <run>-->
        <!--                <include name="${groupName}"></include>-->
        <!--            </run>-->
        <!--        </groups>-->
        <classes>

            <class name="payouts.DownloadPayoutsCycleTest"></class>
            <class name="payouts.CycleMoveTest"></class>
            <class name="payouts.UploadPayoutsTest"></class>
            <class name="payouts.QuickSearchTest"></class>

        </classes>



    </test>
</suite>